Repository avaire/avaire, pull requests merged in 2019-11, with the labels that each got.

#132 Add support for installing/uninstalling plugins via commands
  build.gradle
  src/main/java/com/avairebot/AvaIre.java
  src/main/java/com/avairebot/Constants.java
  src/main/java/com/avairebot/Main.java
  src/main/java/com/avairebot/Settings.java
  src/main/java/com/avairebot/chat/ProgressMessage.java
  src/main/java/com/avairebot/commands/CommandHandler.java
  src/main/java/com/avairebot/commands/system/PluginCommand.java
  src/main/java/com/avairebot/commands/system/plugin/InstallPlugin.java
  src/main/java/com/avairebot/commands/system/plugin/ListPlugins.java
  src/main/java/com/avairebot/commands/system/plugin/ShowPlugin.java
  src/main/java/com/avairebot/commands/system/plugin/UninstallPlugin.java
  src/main/java/com/avairebot/contracts/chat/ProgressClosure.java
  src/main/java/com/avairebot/contracts/chat/ProgressStep.java
  src/main/java/com/avairebot/contracts/chat/ProgressStepStatus.java
  src/main/java/com/avairebot/contracts/chat/Restable.java
  src/main/java/com/avairebot/contracts/commands/plugin/PluginSubCommand.java
  src/main/java/com/avairebot/contracts/plugin/Plugin.java
  src/main/java/com/avairebot/contracts/plugin/PluginAsset.java
  src/main/java/com/avairebot/contracts/plugin/PluginRelease.java
  src/main/java/com/avairebot/contracts/plugin/PluginSourceManager.java
  src/main/java/com/avairebot/database/migrate/migrations/CreateInstalledPluginsTableMigration.java
  src/main/java/com/avairebot/handlers/MainEventHandler.java
  src/main/java/com/avairebot/handlers/PluginEventHandler.java
  src/main/java/com/avairebot/plugin/GithubPluginAsset.java
  src/main/java/com/avairebot/plugin/JavaPlugin.java
  src/main/java/com/avairebot/plugin/PluginLoader.java
  src/main/java/com/avairebot/plugin/PluginManager.java
  src/main/java/com/avairebot/plugin/PluginSource.java
  src/main/java/com/avairebot/plugin/releases/GithubRelease.java
  src/main/java/com/avairebot/plugin/sources/GitHubSourceManager.java
  src/main/java/com/avairebot/plugin/translators/PluginHolderTranslator.java
  src/main/java/com/avairebot/plugin/translators/PluginLoaderTranslator.java
Labels: pr: low-priority, status: in progress, type: command, type: enhancement, type: feature

#131 Create holiday command
  app.json
  build.gradle
  src/main/java/com/avairebot/commands/fun/HolidayCommand.java
  src/main/java/com/avairebot/requests/service/HolidayService.java
  src/main/resources/config.yml
  src/main/resources/langs/da_DK.yml
  src/main/resources/langs/de_DE.yml
  src/main/resources/langs/en_US.yml
  src/main/resources/langs/es_ES.yml
  src/main/resources/langs/fr_FR.yml
  src/main/resources/langs/hu_HU.yml
  src/main/resources/langs/it_IT.yml
  src/main/resources/langs/nl_NL.yml
  src/main/resources/langs/no_NB.yml
  src/main/resources/langs/ru_RU.yml
  src/main/resources/langs/zh_SI.yml
Labels: pr: low-priority, status: in progress, type: command

#136 Add IP rotator support for audio search requests
  build.gradle
  src/main/java/com/avairebot/audio/AudioHandler.java
  src/main/java/com/avairebot/audio/AudioPlayerManagerConfiguration.java
  src/main/java/com/avairebot/audio/seracher/SearchTrackResultHandler.java
  src/main/java/com/avairebot/audio/source/PlaylistImportSourceManager.java
  src/main/java/com/avairebot/utilities/NumberUtil.java
  src/main/resources/config.yml
  src/main/resources/logback.xml
  src/main/resources/logback_debug.xml
  src/main/resources/logback_nocolor.xml
  src/main/resources/logback_nocolor_debug.xml
Labels: pr: low-priority, status: in progress, type: enhancement, type: feature
